* {
    padding: 0;
    margin: 0;
}

body {
 background-color: slategrey;   
 font-family: Georgia, 'Times New Roman', Times, serif;
}


/*START OF DESKTOP VERSION*/
@media (min-width: 831px) {
            body {
                font-size: 15px;
                font-weight: bold;
            }

            .wrapper {
              
                width: 80%;
                margin: 7vh auto;
                
                
            }
        .toggler-wrapper {
            margin-top: 1.5em;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items:stretch;
            align-content: center;
        
        }

.toggler {
    display: flex;
    width: 20em;

    justify-content: space-between;
}

        .img > img {
            height: 60vh;
        }

    input {
        width: 2em;
        height: 2em;
      
    }


}

/*END OF DESKTOP VERSION*/
/*START OF MOBILE VERSION*/
@media (max-width: 830px) {
            body {
                font-size: 12px;
                font-weight: bold;
            }

        .wrapper {
            margin: 5% auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
           
        }

        .toggler-wrapper {
            margin-top: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            }

            .toggler {
         
                display: flex;
                width: 70vw;
                
                align-items: center;
                align-content: center;
                justify-content: space-evenly;
            }

            .legend {
                align-self: flex-start;
                margin-left: 5%;
                margin-top: 5%
            }

            .img > img {
                max-width: 95%;
                max-height: 100%;
            }
        
            .img {
                display:flex;
                height: 70vh;
                align-items: center;

            }

            input {
                width: 2em;
                height: 2em;
               
            }
}

/*END OF MOBILE VERSION*/

.img {
    margin: 0 auto;
    text-align: center;
}

.img > img {
    margin: 0 auto;
    border-radius: 0.7em;
    animation: appear 2s ease;
   
}

label {
   
    height: 4em;
    width: 4em;
    display: flex;
    justify-content: center;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    top: 0px;
    left: 0px;
    content: "";
    border-radius: 50%;
    border: 0.1em solid lightgrey;
    background-color: antiquewhite;
    align-self: center;
 
}

input:checked {
    border: 0.4em solid lightgrey;;
    background-color: #ec606a;
}

input:hover {
    background-color: #aa001d;
    border: 0.3em solid lightgrey;
    cursor: pointer;
}


input:checked:hover {
    background-color: #aa001d;
    border: 0.4em solid lightgrey;;
}

input:active {
    background-color: #ffafc1;
    border: none;
}

label:hover {
    cursor: pointer;
}

.legend {
    white-space: normal;
}
.legend > span {
    font-size: 2em;
    animation: appear 2s ease;
}

.active {
    opacity: 1;
}

.disabled {
    display:none;
}


@keyframes appear {
    from {
        opacity:  0
       }

    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity:  1
    }
    to {
        opacity:  0
    }
}

.disappear {
    animation: disappear 2s ease;
    animation-fill-mode: forwards;
}